@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<partial name="~/Views/MemberLayoutPartial/_HeaderPartial.cshtml"></partial>

<body class="g-sidenav-show  bg-gray-100">
    <partial name="~/Views/MemberLayoutPartial/_NavbarPartial.cshtml"></partial>
    <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
        <!-- Navbar -->
        <partial name="~/Views/MemberLayoutPartial/_Navbar2Partial.cshtml"></partial>
        <!-- End Navbar -->
        <div class="container-fluid py-4">
          @RenderBody()

            <partial name="~/Views/MemberLayoutPartial/_FooterPartial.cshtml"></partial>
        </div>
    </main>
    <partial name="~/Views/MemberLayoutPartial/_RigthBarPartial.cshtml"></partial>
    <partial name="~/Views/MemberLayoutPartial/_ScriptPartial.cshtml"></partial>
    
</body>

</html>
