@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en"
      class="light-style layout-menu-fixed"
      dir="ltr"
      data-theme="theme-default"
      data-assets-path="../assets/"
      data-template="vertical-menu-template-free">

<partial name="~/Areas/Admin/Views/Dashboard/PartialHead.cshtml">
<body>
    <!-- Layout wrapper -->
    <div class="row">

        @await Component.InvokeAsync("_DashboardBannerPartial")

        @await Component.InvokeAsync("_Cards1StatisticPartial")
        <!-- Total Revenue -->
        @await Component.InvokeAsync("_TotalRevenuePartial")
        <!--/ Total Revenue -->
        @await Component.InvokeAsync("_Cards2StatisticPartial")

    </div>
    <div class="row">
        <!-- Order Statistics -->
        @await Component.InvokeAsync("_DestinationStatisticPartial")
        <!--/ Order Statistics -->
        <!-- Expense Overview -->
        @await Component.InvokeAsync("_DestinationStatistic2Partial")
        <!--/ Expense Overview -->
        <!-- Transactions -->
        @await Component.InvokeAsync("_AdminGuideListPartial")
        <!--/ Transactions -->
    </div>

    <partial name="~/Areas/Admin/Views/Dashboard/PartialScript.cshtml">
  
</body>
</html>


